/*Style of fundamentals elements of the webpage*/

body {
    background-color: blanchedalmond;
}

/*Style of the header, with navigation menu*/
header {
    border-bottom: 1px fuchsia dotted;
    background-color: coral;
    background-position: 0%;
    color: darksalmon;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 0;
    display: fixed;

}

nav {

}

/*Style of the Table*/

table {
    position: static;
    display: block;
}