/*Style for fundamental elements of webpage*/

body {
    background-color: #e77718;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Zen Dots', cursive; 
}

/*Style for header*/

header {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    box-shadow: 3px 5px 20px rgba(74, 207, 238, 0.7);
    background-color: #ffe69d;
}

header h1, header nav a {
    color: #e96d5e;
}

header nav {
    padding-top: 5px;
    right: 10px;
    margin: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    float: right;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px 10px;

}

/*Style for mission section*/

.mission {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1620753980635-468d8a5d4b97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    margin-left: 5%;
    margin-right: 5%;
    background-size: cover;
    border-radius: 25px;
    align-self: center;
    text-align: center;
}

.mission h1 {
    margin-bottom: 0px;
    background-color: #e96d5e;
    color: #ffe69d;
    width: 100%;
}

.mission .mission_text {
    margin-top: 0px;
    padding: 5px 15px;
    margin-bottom: 0%;
    background-color: #ffe69d;
    color: #e96d5e;
    justify-self: center;
    align-self: center;
}

/*Style for products section*/

.products {
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    background-color: #ffe69d;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    text-align: center;
    color: #e96d5e;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
}

.products_gallery {
    display: flex;
    flex-direction: row;
}

/*Style for multiple elements in 'products' section*/

.products .product_1, .product_2, .product_3, .product_4, .product_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    padding: 5px;
    background-color: #e96d5e;
}

.products .product_1 figcaption, .product_2 figcaption, .product_3 figcaption, .product_4 figcaption, .product_5 figcaption {
    background-color: #ffe69d;
    color: #e96d5e;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.products .product_1 figcaption h4, .product_2 figcaption h4, .product_3 figcaption h4, .product_4 figcaption h4, .product_5 figcaption h4 {
    margin-bottom: 0%;
    margin-top: 0%;
}

.products .product_1 figcaption p, .product_2 figcaption p, .product_3 figcaption p, .product_4 figcaption p, .product_5 figcaption p  {
    margin-bottom: 0%;
    margin-top: 0%;
}

.products .product_1 img, .product_2 img, .product_3 img, .product_4 img, .product_5 img{
    align-self: center;
    border-radius: 3px;
}

.products .product_2, .product_1, .product_3, .product_3, .product_3{
    width: 195px;
    height: 230px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*Style for elements of 'product_1' figure element in 'products_gallery' section*/

.products .product_1 img {
    width: 125px;
    height: 150px;
}

.products .product_1 figure {
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Style for elements of 'product_2' figure element in 'products_gallery' section*/

.products .product_2 img {
    width: 150px;
    height: 140px;
}

/*Style for elements of 'product_3' figure element in 'products_gallery' section*/

.products .product_3 img {
    width: 150px;
    height: 130px;
}

/*Style for elements of 'product_4' figure element in 'products_gallery' section*/

.products .product_4 img {
    width: 195px;
    height: 160px;
}

/*Style for 'team' section*/

.team {
    text-align: center;
    color: #ffe69d;
}

.team h1, .team_gallery {
    margin-left: 5%;
    margin-right: 5%;
}

.team h1 {
    margin-bottom: 0px;
}

.team_gallery {
    margin-top: 0px;
}
.team_member {
    border: 3px solid #ff9760;
    color: #e96d5e;
}

#ceo img {
    margin-top: 30px;
}

.team_member {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #ffe69d;
    border-radius: 15px;
    width: auto;
    height: auto;
    font-size: 11px;
}

#ceo p {
    margin-bottom: 2px;
}


/*Style for 'contacts' section*/

.contacts {
    padding: 8px;
    border-radius: 25px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.mail {
    display: flex;
    flex-direction: row;
    height: 130px;
}

#mail_text, #address_text {
    align-self: center;
    justify-self: center;
    margin-left: 0px;
    visibility: hidden;
    transition-property: visibility, background-color, border-color, color;
    transition-delay: 400ms;
    transition-timing-function: linear;
    border: 3px solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 0px;
    position: relative;
    display: flex;
    text-align: center;
    padding: 5px 15px 5px 25px;
}

#mail_img {
    align-self: center;
    width: 100px;
    height: 90px;
    padding-left: 20px;
}
.contact {
    align-items: center;
    justify-items: center;
}

.address {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

#address_img {
    width: 100px;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-left: 20px;
}

#mail_img, #address_img {
    margin: 5px;
}

#address_text {
    padding: 10px;
}


#mail_img:hover + #mail_text, #address_img:hover + #address_text{
    transition-delay: 250ms;
    visibility: visible;
    background-color:#ffe69d;
    border-color: #e96d5e;
    color: #e96d5e;
}

/*Style for multiple elements in 'team', 'contacts', 'copyright' section*/

.team_gallery, .contact, .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    background-size: contain;
}

.team {
    width: auto;
    height: auto;
}

.contacts, .copyright, .team_gallery {
    background-color: #feae62;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.contact, .copyright {
    color: #ffe69d;
    text-align: center;
}

.contact, .contacts, .copyright {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

#ceo h4, #mark_man h4, #sec_man h4 {
    font-size: 18px;
    margin-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

#ceo p, #mark_man p, #sec_man p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 3px;
}

#ceo, #mark_man, #sec_man{
    height: auto;
    width: 150px;
}
#mark_man img, #sec_man img, #ceo img {
    width: 195px;
    border-radius: 25px;
}

#ceo img, #mark_man img, #sec_man img {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 250px;
    border: 2px solid #ffe69d;
}


.contacts, .copyright {
    margin-top: 10px;
}